* {
  margin: 0px;
  font-family: sans-serif;
  font-weight: bold;
}

body {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  overflow-x: hidden;
}
@media (max-width: 1000px) {
  body {
    grid-template-columns: auto;
  }
}

.phone {
  margin: -50px 10vw !important;
  padding: 20px;
  width: 350px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  background-color: white;
  box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.349);
  scale: 0.8;
}
@media (max-width: 500px) {
  .phone {
    margin: 0px 0px 0px -20px !important;
  }
}
.phone .borderCima {
  height: 100px;
  width: 60%;
  border-radius: 30px;
  background-color: white;
  position: absolute;
  top: -50px;
  left: 80px;
}
.phone header {
  background-image: linear-gradient(90deg, purple, rgb(253, 122, 253));
  border-radius: 20px 20px 5px 5px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  height: 80px;
  padding: 20px;
}
.phone header p {
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 30px;
  width: -moz-fit-content;
  width: fit-content;
  transform: rotateZ(90deg);
}
.phone header img {
  width: 50px;
  border-radius: 50%;
  border: solid white;
}
.phone header div h1 {
  color: white;
  font-size: 20px;
}
.phone header div p {
  color: white;
  opacity: 0.5;
  transform: rotateZ(0deg);
  font-size: 10px;
}
.phone main {
  padding: 10px 0px;
}
.phone main .other {
  background-color: rgba(128, 0, 128, 0.137);
  color: purple;
  margin-right: 100px;
  margin-bottom: 15px;
  border-radius: 10px 10px 10px 0px;
}
.phone main .you {
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.274);
  margin-left: 100px;
  margin-bottom: 15px;
  border-radius: 10px 10px 0px 10px;
}
.phone main .img {
  box-shadow: none;
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}
.phone main div {
  padding: 5px;
  font-size: 15px;
}
.phone main div img {
  width: 70px;
  border-radius: 15px;
}
.phone main .price {
  background-image: linear-gradient(90deg, rgb(253, 122, 253), purple);
  margin-right: 100px;
  margin-bottom: 15px;
  padding: 15px 10px;
  border-radius: 10px 10px 10px 0px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.phone main .price .circle {
  width: 20px;
  height: 20px;
  border: solid;
  border-radius: 50%;
}
.phone main .price span {
  font-size: 20px;
}
.phone main input {
  border: none;
  outline: none;
  width: 84%;
  font-size: 15px;
}
.phone main button {
  background-color: rgb(85, 2, 85);
  border: none;
  padding: 5px 15px;
  border-radius: 50%;
  font-size: 30px;
  color: white;
  transform: rotateZ(-90deg);
}

.box {
  width: 500px;
  height: 1000px;
  border-radius: 250px;
  background-color: purple;
  position: absolute;
  top: -350px;
  left: -50px;
}

.text {
  width: 80%;
  margin: 20% 50% 0 0;
}
@media (max-width: 1000px) {
  .text {
    margin: 50px 0px 20px 20px;
  }
  .text h1 {
    font-size: 10vw !important;
  }
  .text h2 {
    text-align: center;
  }
}
.text h1 {
  color: purple;
  font-size: 40px;
  margin-bottom: 30px;
}
.text h2 {
  opacity: 0.3;
  font-size: 20px;
  width: 100%;
}

.attribution {
  padding: 10px;
  border-top: solid rgba(128, 0, 128, 0.219);
}/*# sourceMappingURL=style.css.map */